<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525585952745-escmoet3cp9kmtt7ocuta8hfhbf0sipq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525585952745-escmoet3cp9kmtt7ocuta8hfhbf0sipq</string>
	<key>API_KEY</key>
	<string>AIzaSyABEVsLh7b-QCYq1B_r5SX93qm7nEsmNgY</string>
	<key>GCM_SENDER_ID</key>
	<string>525585952745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testProject</string>
	<key>PROJECT_ID</key>
	<string>test-flutterfire-project-01</string>
	<key>STORAGE_BUCKET</key>
	<string>test-flutterfire-project-01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525585952745:ios:448114b4a724aa42746578</string>
</dict>
</plist>